/* $변수명:변수등록값; */
/* @mixin 그룹변수명 {반복속성:값; 반복속성:값} */

/* 폰트 */
$header-menu: 1.063rem;
$bg_color: #F5F3E7;
$font_color: #54341B;
$font_color2: #846852;
$font_color3:#CDB4A0;
$point-green:#9cac45;

$font-size12: 0.75rem;
$font-size14: 0.875rem;
$font-size16: 1rem;
$font-size18: 1.125rem;
$font-size20: 1.25rem;
$font-size30: 1.875rem;

/* padding 간격 관련 */
$full : 160px;
$half : 80px;

@mixin flexrow {
    display:flex; flex-flow:row nowrap; align-items: center; 
}
@mixin flexcol {
    display:flex; flex-flow:column nowrap; justify-content: center;
}



@mixin title {
    font-size: 1.875rem;
    font-weight: 600;
}
@mixin section_info {
    font-weight: 500; font-size:1rem;
}
@mixin product_name{
    font-size:1rem; font-weight: 600; color:$font_color;
}
@mixin product_info{
    font-size:0.75rem; font-weight: 400; color:$font_color2; margin:0;
}
@mixin product_price{
    font-size:0.875rem; font-weight: 500; color:$font-color; margin:0
}
@mixin menu {
    display:flex; flex-flow:row nowrap; justify-content: center; gap:30px; margin-bottom:20px; font-size:0.875rem;
}
@mixin menu_action {font-weight: 600; color:$font_color;}
@mixin menu_a {color:$font_color2;}
@mixin menu_action_after {
        content:''; display:block; width: 100%; height: 2px; background-color:$font_color2; 
        margin-top:5px;
    }

@mixin hover {border: 1px solid $font_color2}

@mixin category_title {
    font-size:$font-size30;
    text-align: right;
}
@mixin category_btn {
    font-size:$font-size16;
    text-align: center;
    font-weight: 300;
}