/* $변수명:변수등록값; */
/* @mixin 그룹변수명 {반복속성:값; 반복속성:값} */

/* 폰트 */
$header-menu: 1.063rem;
$bg_color: #F5F3E7;
$font_color: #54341B;
$font_color2: #846852;
$font_color3:#CDB4A0;
$point-green:#9cac45;

$font-size12: 0.75rem;
$font-size14: 0.875rem;
$font-size16: 1rem;
$font-size18: 1.125rem;
$font-size20: 1.25rem;

/* padding 간격 관련 */
$full : 160px;
$half : 80px;

@mixin flexrow {
    display:flex; flex-flow:row nowrap; align-items: center; 
}
@mixin flexcol {
    display:flex; flex-flow:column nowrap; justify-content: center;
}



@mixin title {
    font-size: 1.875rem;
    font-weight: 600;
}
@mixin section_info {
    font-weight: 500; font-size:1rem;
}
@mixin product_name{
    font-size:1rem; font-weight: 600; color:$font_color;
}
@mixin product_info{
    font-size:0.75rem; font-weight: 400; color:$font_color2; margin:0;
}
@mixin product_price{
    font-size:0.875rem; font-weight: 500; color:$font-color; margin:0
}
@mixin menu {}

@mixin hover {border: 1px solid $font_color2}