@use './common.scss' as *;

body { width:1920;
    header { position:fixed; top:0; left:0; width:100%; padding:0 30px;
        z-index:1000; 
        .header { @include flexrow; height: 70px; justify-content: space-between;
            .logo { 
                a{
                    h1 { img{width: 177px; height: 36px;}}
                }
            }
            .menu { display:flex; justify-content: space-between; width: 600px;
                a {
                    color:#fff; font-size:$header-menu;
                    text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
                }
                a:hover {color:$point-green;text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5)}
            }
            .right_icons { display:flex; gap:20px;
                a {
                }
            }
        }
    }
    header.scroll {
        background-color:$bg_color;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        .header {
            .menu {
                a {
                    color:#54341B;
                    text-shadow: none;
                }
                a:hover {color:$point-green;}
            }
        }
    }
    #wrap { background-color:$bg_color; color:$font_color;
        /* 공통 디자인 */
        /*
        @include title;
        @include section_info;
        @include product_name;
        @include product_info;
        @include product_price;
        */
        
        .main_brn_swiper {
            width: 100%; height: 98vh; position:relative;
            video,img {
                width: 100%; height: 100%; object-fit: cover; display:block;
            }
            .swiper-button-next,
            .swiper-button-prev {
                height: 100%; 
                opacity: 0%;
                position:absolute; top:0;
                width: 400px;
            }
            .swiper-pagination-bullet {
                background:#aaa;
                opacity: 50%;
                width: 80px;
                border-radius: 0px;
                height: 1px;
                margin:0 10px;
            }
            .swiper-pagination-bullet-active {
                opacity:100%;
                background:#fff;
            }
        }
        .best_section {
            text-align:center; 
            padding: 80px 240px 160px;
            h2 {@include title; margin-bottom:10px;}
            p {@include section_info; margin-bottom:20px;}
            .best_menu {
                @include menu;
                li{
                    .action {@include menu_action; display:inline-block;
                        &::after {
                            @include menu_action_after; 
                            &:hover {color:inherit;}
                        }
                    }
                    a{@include menu_a;
                        &:not(.action):hover {color:$point-green;}
                    }
                }
            }
            .best_products { 
                display:flex; flex-flow:row wrap; gap:16px; align-content: center; justify-content: space-between;
                li {
                    flex: 1 1 calc(20% - 16px); 
                    .img_box {height: 340px;
                        img{ border:1px solid $bg_color;
                            width: 100%;
                            height: auto;
                        }
                    }
                    a{
                        .product_name {@include product_name; margin-top:10px;}
                        .product_info {@include product_info; margin: 5px 0;}
                        .product_price {@include product_price;}
                    }
                    .best_more { p {padding: 159px 0; line-height: 120%; color:#fff; font-weight: 300;}
                    }
                }
                li:hover {
                    img {@include hover; }
                    .product_name,
                    .product_info,
                    .product_price {color:$point-green;}
                }
                li:nth-child(10) {
                    background-image: url('../images/best_more.png');
                    width: 100%; height: 409px;
                }
            }
        }
        .new_section { padding: 160px 0; text-align: center;
            h2 {margin-bottom:10px; @include title;}
            p {margin-bottom:20px; @include section_info;}
            .new_contents { display:flex; flex-flow:row nowrap; gap:30px; justify-content: center;
                .new_left_img {}
                div { 
                    display:flex; flex-flow:column nowrap; 
                    gap:20px; color:$font_color;
                    width: 672px;
                    a:nth-child(1) {
                        display:block;
                        height: 100%;
                        width: 100%;
                        background-image: url('../images/new_img2.png');
                        background-size:cover;
                        background-repeat: no-repeat;
                        background-position:center;
                    }
                    .coment { color:$font_color;
                        display:flex; flex-flow:column nowrap; 
                        .top { position:relative; padding-bottom:15px;
                            display:flex; flex-flow:row nowrap; justify-content: space-between; align-items: center;
                            h2 {text-align: left; font-size:1.25rem; font-weight: 400; width: 100%; em{font-weight: 700;} margin:0;}
                            .new_info { text-align: right; color:$font_color3; font-size:0.875rem; width: 100%; font-weight: 300; line-height: 120%; margin:0;}
                        }
                        .top::after {
                            content: ''; position:absolute; bottom:0; left:0; 
                            width: 100%; height: 1px; background-color:$font_color3;
                        }
                        .new_coment {text-align: left; font-size:0.875; margin-top:15px; line-height: 140%;}
                    }
                    .coment:hover {
                        & > * {color:$point-green;
                        }
                        .top {
                            .new_info {color:$point-green}
                        }
                        .top::after {background-color:$point-green}
                    }
                }
            }
        }
        .monthly_section { background-image: url('../images/books_bg.png'); position: relative; width: 100%; height: 650px;
            .left { position:absolute; left:80px; top:64px; color:#fff; text-align: left;
                h2 {margin-bottom:10px; @include title;}
                p {font-weight: 300; @include section_info;}
            }
            .monthly_right { 
                background-image: url('../images/paper_bg.png'); 
                position:absolute; right:0; bottom:0;height: 580px;
                display:flex; flex-flow:row nowrap; 
                .monthly_text { text-align: left; height: 580px;
                    li:first-child {
                        padding:80px 50px 0 80px; 
                    }
                    li {width: 550px; padding:0 30px 0 80px;
                        h2 {margin-bottom:10px; margin-left:40px;line-height: 150%; @include title;}
                        p {font-size:0.875rem;margin-bottom:5px; line-height: 150%; @include section_info;}
                        p:nth-child(2) {margin-left:20px;}
                        .monthly_coment_ko {font-size:0.875rem; color:$font_color2; line-height: 150%; margin:48px 0;}
                        .monthly_coment_en {font-size:0.875rem; color:#AE917A; line-height: 150%;}
                    }
                }
                .swiper_container {width: 935px; height: 579px; padding-top:218px;
                    #monthly_swiper { width: 855px;overflow:hidden;
                        .swiper-wrapper { 
                            height: 311px; display:flex; flex-flow:row nowrap; bottom:0;
                            width: max-content;
                            .swiper-slide {width: auto;
                                a { 
                                    img {margin-bottom:10px;}
                                }
                                .product_name {@include product_name;}
                                .product_info {@include product_info; margin:5px 0;}
                                .product_price {@include product_price;}
                            }
                            .swiper-slide:hover {
                                .product_name,
                                .product_info,
                                .product_price {color:$point-green; }
                            }
                            .swiper-slide-active {width: 172px!important;}
                            .swiper-slide-next {width: 172px!important;}
                        }
                    }
                }
            }
        }
        .category_section { text-align: center; padding: $full 0 0;
            .category_title {
                h2 {@include title; margin-bottom:10px;}
                p {@include section_info; margin-bottom:20px;}
            }
            .swiper {width:1440px;
                .swiper-wrapper { 
                    .swiper-slide { width: 250px!important; margin-right:20px; height: 302px; position:relative;
                        background-repeat:no-repeat;
                        background-position:center;
                        h3 {
                            @include category_title;
                            font-weight: 300;
                            color:#fff;
                            position:absolute;
                            right:30px; 
                            top:90px;
                            z-index: 900;
                        }
                        a { padding: 5px 20px 7px; border:1px solid #fff; border-radius: 23px;
                            @include flexrow; gap:10px; width: fit-content; position:absolute; right:30px; top:180px;
                            span {color:#fff; @include category_btn; }
                            img {}
                        }
                    }
                    .swiper-slide:nth-child(1) {background-image: url('../images/category_1.png');}
                    .swiper-slide:nth-child(2) {background-image: url('../images/category_2.png');}
                    .swiper-slide:nth-child(3) {background-image: url('../images/category_3.png');h3{top:125px;}}
                    .swiper-slide:nth-child(4) {background-image: url('../images/category_4.png');h3{top:125px;}}
                    .swiper-slide:nth-child(5) {background-image: url('../images/category_5.png');h3{top:125px;}}
                    .swiper-slide:nth-child(6) {background-image: url('../images/category_1.png');h3{top:125px;}}
                }
            }
        }
        .journal_section {
            width: 1440px;
            margin:0 auto;
            padding:80px 0;
            text-align: center;
            h2 {@include title;margin-bottom:20px;}
            .journal_menu {
                @include menu;
                .action {@include menu_action;}
                a {@include menu_a;}
                .action::after {
                    @include menu_action_after;
                }
                a:hover {color:$point-green;}
            }
            .view { display:flex; flex-flow:row nowrap; gap: 10px; justify-content: right; margin-bottom:20px;
                a { display:flex; flex-flow:row nowrap; gap: 10px;
                    p{font-size:$font-size12; color:$font_color2;}
                    .action {color:$font-color; font-weight: 700;}
                }
                a:hover {p {color:$point-green}}
                a:first-child::after {
                    content:''; display:block; width: 1px; height: 13px; background-color:$font_color2; 
                }
            }
            .contents {
                .card {
                    display:flex; flex-flow:row nowrap;
                    margin-bottom:20px; height: 61px;
                    width: 100%;
                    .img_box {
                        display:none;
                        width: 100%; 
                        overflow:hidden;
                        img {width: 100%; height: 100%;  object-fit:cover; object-position:center; }
                    }
                    .card_text {background-color:#fff; width: 100%; padding: 20px; 
                        display:flex; flex-flow: column nowrap; 
                        .title { display:float; width: 100%; color:$font-color;
                            h3 {float:left; padding:3px 0;
                                em {font-weight: 700;}
                            }
                            .date {float:left;color:$font_color3; font-size:$font-size14; padding:5px 10px;}
                            .view {float:right; color:$font_color3; font-size:$font-size14; padding:5px; font-weight: 300;}
                        }
                        .detail {display:none; 
                            overflow:hidden;
                            text-align: left;
                            p {
                                color:$font_color2;
                                line-height: 150%;
                                font-size:$font-size14
                            }
                        }
                    }
                }
                .card:hover {
                    .card_text {
                        .title,
                        .detail {color:$point-green}
                    }
                }
                .action { height: auto;
                    .img_box { 
                        display:block;
                        img{}
                    }
                    .card_text {
                        .detail {
                            margin-top:20px;
                            display:block;
                        }
                    }
                }
            }
            .page {
                button {color:$font_color3; font-size:$font-size14; margin-right:10px }
                .action {color:$font_color2;}
                .page_btn_prev {
                    img {}
                }
                .page_btn_next { margin:0px;
                    img{}
                }
            }
        }
        .stores_section { text-align: center; padding:160px 240px; 
            h2 {@include title; margin-bottom:10px;}
            p {@include section_info; color:$font_color2}
            .store_info {
                display:flex; flex-flow:row nowrap; align-items: center; 
                justify-content: space-between; margin:40px 0 20px;
                .selected_store {display:flex; flex-flow:row nowrap; align-items: center; gap:3px; 
                    img {}
                    p {color:$font-color; font-weight: 600;}
                }
                .search_store { padding: 5px 10px 5px 20px; width: 402px; 
                    border:1px solid $font_color2;
                    div {display:flex; flex-flow:row nowrap; justify-content: space-between; align-items: center; margin-top:0px;
                        span {color:$font_color2; font-size:$font-size14;}
                        img {}
                    }
                }
            }
            .store_imgs {display:flex; flex-flow:row nowrap; align-items: center; gap:16px; justify-content:center; width: max-content;
                img {width: 100%; height: auto;}
            }
        }
    }
    footer { background-color:$bg_color;
        .footer_section {
            border-top-left-radius: 150px;
            border-top-right-radius: 150px;
            background-image: url('../images/footer.png');
            background-repeat:no-repeat;
            background-position:top;
            background-size:auto;
            padding:50px 240px;
            color:#fff;
            .footer_top {
                display:flex; flex-flow:row nowrap; justify-content: space-between; align-items: center; margin-bottom:50px;
                a{ 
                    h1 {
                        width: auto; height: 70px; 
                        img {
                            height: 100%;;
                        }
                    }
                }
                .sns { width: 20%;
                    a {display:flex; flex-flow:row nowrap; gap:5px; align-items: center; justify-content: right;
                        p {color:#fff; font-size:1.5rem; font-weight:500;}
                    }
                }
            }
            .footer_btm { 
                display:flex; flex-flow:row nowrap; 
                justify-content: space-between; align-items: center;
                .footer_left {
                    p:nth-child(1) {font-size:1.25rem; font-weight: 500; margin-bottom:50px; line-height: 150%;}
                    .footer_info {font-size:$font-size14; font-weight: 300; line-height: 150%; }
                }
                .footer_right {
                    display:inline-block; text-align: right;
                    color:#eee;
                    font-size:$font-size14;
                    line-height: 150%;
                } 
            }
        }
    }
}