@use './common.scss' as *;

body { width:100%;
    header { position:fixed; top:0; left:0; width:100%; padding:0 30px;
        z-index:1000;
        .header { @include flexrow; height: 70px;
            .logo { 
                a{
                    h1 { img{width: 177px; height: 36px;}}
                }
            }
            .menu { display:flex; gap:80px; 
                a {
                    color:#fff; font-size:$header-menu;
                }
            }
            .right_icons { display:flex; gap:20px;
                a {
                }
            }
        }
    }
    #wrap { background-color:$bg_color; color:$font_color;
        .main_brn {
            width: 100%; height: 100vh;
            img {width: 100%; height: 100%;}
        }
        text-align: center;
        h2 {@include h2font; }
        p { font-weight: 500; font-size:1rem;}
        .best_section {
            h2 {margin-bottom:10px;}
            p {margin-bottom:20px;}
            text-align:center; 
            padding: 80px 240px 160px;
            .best_menu {
                display:flex; flex-flow:row nowrap; justify-content: center; gap:30px; margin-bottom:20px;font-size:0.875rem;
                li{ .action {font-weight: 600;}
                    a{color:$font_color;}
                }
            }
            .best_products { 
                display:flex; flex-flow:row wrap; gap:16px; align-items: center;
                li { display:flex; flex-flow:column nowrap; gap:10px;
                    width: 272px; 
                    .img_box { width: 100%; height: 340px;
                        img{
                            width: 100%;
                            height: 100%;
                            background-color:aqua;}
                    }
                    a{ display:flex; flex-flow:column nowrap; gap:5px; 
                        .product_name {font-size:1rem; font-weight: 600; color:$font_color;}
                        .product_info {font-size:0.75rem; font-weight: 400; color:$font_color2; margin:0}
                        .product_price {font-size:0.875rem; font-weight: 500; color:$font-color; margin:0}
                    }
                }
            }
        }
        .new_section { padding: 160px 0;
            .new_contents { display:flex; flex-flow:row nowrap; gap:30px; justify-content: center;
                .new_left_img {}
                div { display:flex; flex-flow:column nowrap; gap:20px; color:$font_color;
                    a {}
                    .coment { color:$font_color;
                        display:flex; flex-flow:column nowrap; gap:0;
                        .top { position:relative; padding-bottom:15px;
                            display:flex; flex-flow:row nowrap; justify-content: space-between;
                            h2 { text-align: left; font-size:1.25rem; font-weight: 400; em{font-weight: 700;}}
                            .new_info {text-align: right; color:$font_color3; font-size:0.875rem; width: 100%;}
                        }
                        .top::after {
                            content: ''; position:absolute; bottom:0; left:0; 
                            width: 100%; height: 1px; background-color:$font_color3;
                        }
                        .new_coment {text-align: left; font-size:0.875; margin-top:15px;}
                    }
                }
            }
        }
        .monthly_section {
            .left {
                h2 {}
                p {}
            }
            .monthly_right {
                .monthly_text {
                    li {
                        h2 {}
                        p {}
                        .monthly_coment_ko {}
                        .monthly_coment_en {}
                    }
                }
                .swiper {
                    .swiper-bottom-prev {}
                    .swiper-bottom-next {}
                }
            }
        }
    }
}